<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %5p [%X{traceId:-},%X{spanId:-}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="LOGSTASH"/>
    </appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logstash.url}</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>Timestamp/UTC</fieldName>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <logLevel>
                    <fieldName>Level</fieldName>
                </logLevel>
                <threadName>
                    <fieldName>Thread</fieldName>
                </threadName>
                <contextName>
                    <fieldName>ServiceName</fieldName>
                </contextName>
                <pattern>
                    <!-- the pattern that defines what to include -->
                    <pattern>
                        {
                        "ServiceVersion": "${springAppVersion}",
                        "ServiceHostName": "${hostname}",
                        "PID": "${PID:-}"
                        }
                    </pattern>
                </pattern>
                <mdc/>
                <arguments>
                    <includeNonStructuredArguments>true</includeNonStructuredArguments>
                </arguments>
                <loggerName>
                    <fieldName>Logger</fieldName>
                </loggerName>
                <message>
                    <fieldName>Message</fieldName>
                </message>
                <throwableClassName>
                    <fieldName>ExceptionClass</fieldName>
                </throwableClassName>
                <stackTrace>
                    <fieldName>StackTrace</fieldName>
                    <!-- maxLength - limit the length of the stack trace -->
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>200</maxDepthPerThrowable>
                        <maxLength>5000</maxLength>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
        <smtpHost>${spring.mail.host}</smtpHost>
        <smtpPort>587</smtpPort>
        <STARTTLS>true</STARTTLS>
        <asynchronousSending>false</asynchronousSending>
        <username>${spring.mail.username}</username>
        <password>${spring.mail.password}</password>
        <to>digdes@myrambler.ru</to>
        <to>gorchanyk@gmail.com</to>
        <from>${spring.mail.username}</from>
        <subject>PRODUCER-KAFKA: %logger{20} - %msg</subject>
        <layout class="ch.qos.logback.classic.html.HTMLLayout"/>
        <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">
            <bufferSize>1</bufferSize>
        </cyclicBufferTracker>
    </appender>

    <root level="info">
        <appender-ref ref="ASYNC"/>
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="t1.gorchanyuk.metricsproducer" level="INFO">
        <appender-ref ref="ASYNC"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="t1.gorchanyuk" level="INFO" additivity="false">
        <appender-ref ref="EMAIL"/>
    </logger>

</configuration>